body {
    background-color: #201f1f;
    color: #e0e0e0;
}

h1 {
    text-align: center;
}

.calculator-container-wrapper {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: flex;
    margin-top: 1rem;
    border: 0.5rem solid #e0e0e0;
    border-radius: 1rem;
    width: 35vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
}

.calculator-output-display {
    width: 40vw;
    height: 25vh;
    max-height: 30%;
    max-width: 100%;
    border-bottom: 0.3rem solid #e0e0e0;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 400vh;
    max-height: 70%;
    max-width: 100%;
}