body {
    background-color: #201f1f;
    color: #e0e0e0;
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

.calculator-container-wrapper {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: flex;
    margin-top: 1rem;
    border: 0.5rem solid #e0e0e0;
    border-radius: 1rem;
    width: 23rem;
    height: 80vh;
    flex-direction: column;
    align-items: center;
}

.calculator-output-display {
    width: 40rem;
    height: 25vh;
    max-height: 30%;
    max-width: 100%;
    border-bottom: 0.6em solid #e0e0e0;
}

.calculator-button-wrapper {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 400vh;
    max-height: 70%;
    max-width: 100%;
}

.button-container {
    display: flex;
    width: 40rem;
    height: 100px;
    max-height: 20%;
    max-width: 100%;
    justify-content: space-between;
    border: 0px;
    padding: 0px;
}

.calculator-button {
    width: 20rem;
    height: 20rem;
    max-height: 100%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 0px;
    padding: 0.5rem;
}
